.twc-header {
    background:#582C5F !important;
}

.twc-launch-button {
    background-color:#84BD00 !important;
}

.teneo-web-chat {
	--primary-color: #84BD00 !important;
	--text-link-color: #84BD00 !important;
}